body {
	background: url(https://cs8.pikabu.ru/post_img/big/2016/03/17/7/1458209078195597213.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
  	-moz-background-size: cover;
	-o-background-size: cover;
 	background-size: cover;
	text-align:center;
	font-family:Sommet;
	font-size:24px;
}

h1 {
	border-style: clear:both;
	border-width: 10px;
	border-color: #CD5C5C;
	padding: 1%;
	width: 40%;
	height:10%;
	margin:auto;
}

h2 {
	font-size: 25px;
}

h3 {
	font-size: 80px;
}

p {
	font-size:18px;
}

footer {
	position:fixed;
	bottom:0;
	font-size: 14px;
	padding: 1%;
}

.topnav{
	position:fixed;
	top:0;
	background-color: #DDDDDD;
}

.topnav a {
	float:center;
	display:block;
	color:#001f3f;
	text-align: center;
	padding:14px 16px;
	text-decoration: none;
	font-size:20px;
}

.topnav a:hover {
	background-color: #001f3f;
	color: ;
}
